version: "3"
services:
    db:
        image: postgres
        environment: 
        - "POSTGRESS_PASSWORD=pass" 
        - "POSTGRESS_USERNAME=postgres"
        volumes: 
            - data_sql:/var/lib/postgresql/data
        
    backend:
        build: ./api
        depends_on: 
            - db
    frontend:
        build: ./client
        depends_on: 
            - backend
        ports:
            - "5000:3000"
            - "81:80"
volumes: 
    data_sql: