version: "3.7"
services:
    db:
        image: postgres
        environment: 
        - "POSTGRESS_PASSWORD=pass" 
        - "POSTGRESS_USERNAME=postgres"
        volumes: 
            - data_sql:/var/lib/postgresql/data
        
    backend:
        build: ./api
        depends_on: 
            - db
    frontend:
        build: ./client
        ports:
            - "80:80"
            - "8000:8000"
        depends_on: 
            - backend
volumes: 
    data_sql: