version: "3"
services:
    db:
        image: postgres
        environment: 
        - "POSTGRESS_PASSWORD=pass" 
        - "POSTGRESS_USERNAME=postgres"
        volumes: 
            - data_sql:/var/lib/postgresql/data
        
    backend:
        build: ./api
        depends_on: 
            - db
        # ports:
        #     - "5000:5000"
    frontend:
        build: ./client
        depends_on: 
            - backend
        # ports:
        #     - "3000:3000"
volumes: 
    data_sql: