version: "3.7"
services:
    db:
        development: 
            - password=pass
            - username=postgres
            - database=postgres
            - host=db
            - dialect=postgres
        volumes: 
            - sql:/var/lib/postgresql/data
        
    backend:
        build: ./zelda-cookbook-backend
        depends_on: 
            - db
    frontend:
        build: ./zelda-cookbook-frontend
        ports:
            - "80:80"
            - "8000:8000"
        depends_on: 
            - backend
volumes: 
    sql: